{% extends "base.html" %}
{% load post_filters story_tags %}
{% block title %}

Home

{% endblock %}

{% block content %}

<div class="row">

    <div class="col-lg-8 col-xl-6 mx-auto">

        {% render_stories_strip %}

        {% for post in posts %}

            {% include "posts/components/post_card.html" %}

        {% empty %}

            <div class="text-center mt-5">

                <h3>

                    No Posts Yet

                </h3>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}